## Windows ##
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

## project file ##

# files #
config.codekit
*.map
.sass-cache
temp

# Node.jsモジュールのディレクトリは無視
node_modules

# コンパイル、トランスパイル後ファイルは無視（開発環境が整っていない場合、以下は削除）
bundle.js
core.css
