@charset "utf-8"; /*ã€€*/
// RESET
@import "lib/yuireset_3.18.1";
@import "util/basefix";
// PROJECT SET
@import "projectset";
// MODULE
// @import "lib/####";


//* ==================================================
//	SetBody
//================================================== */
html,body {
	width: 100%;
	height: auto;
	color: $black;
	letter-spacing: 0.08em;
	-webkit-text-size-adjust: 100%;
	line-height: 2;
}
a {
	color: $black;
	text-decoration: none;
	transition: $middle;
}
a[href^="tel"] {
	color:inherit;
	text-decoration:none;
}
main {
	display: block;
}


//* FontSet---------------------------------------- */
html {
	@include fontset_html_ja;
	body { @include fontset_body_ja;}
}
html[lang="en"] {
	@include fontset_html_en;
	body { @include fontset_body_en;}
}


//* ==================================================
//	Common Layout
//================================================== */

//* page-wrap
//*------------------------------------------------------------------------------*/

.page-wrap {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
@media (max-width: $InnerMinWidth) {
	.page-wrap {
	}
}
@media (max-width: $InnerMaxWidth_tb) {
	.page-wrap {
		padding-top: 49px;
	}
}


//* header
//*------------------------------------------------------------------------------*/

.header {
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 500px;
	overflow-y: scroll;
	z-index: 10;
	background: $white;
	transition: all 300ms ease;
	.header-close {
		display: none;
	}
	.header-body {
		padding: 30px;
	}
	.header-logo {
		font-size: 2.0rem;
	}
	.header-logo-text {
		font-size: 1.2rem;
	}
	.header-nav-item {
		& + .header-nav-item {
			margin-top: 10px;
		}
		a {
			position: relative;
			display: inline-block;
			padding: 3px 0;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 2px;
				background: $mainColor;
				transition: width 300ms ease-out;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
		.router-link-exact-active {
			&::after {
				width: 100%;
			}
		}
	}
}

@media (max-width: $InnerMaxWidth_tb) {
	.is--open {
		.header {
			transform: translateX(0px);
		}
	}
	.is--close {
		.header {
			transform: translateX(-250px);
		}
	}
	.header {
		.header-close {
			position: absolute;
			top: 0;
			left: 0;
			height: 30px;
			padding: 0 30px;
			display: block;
		}
	}
}


//* header-sp
//*------------------------------------------------------------------------------*/

.header-sp {
	display: none;
}

@media (max-width: $InnerMaxWidth_tb) {
	.header-sp {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		padding: 10px 30px;
		box-sizing: border-box;
		z-index: 1;
		background: $white;
		.header-sp-icon {
			a {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 50px;
				height: 50px;
				span {
					position: absolute;
					transition: all 400ms;
					height: 1px;
					width: 20px;
					top: 25px;
					right: 15px;
					background: $black;
					&::before {
						position: absolute;
						width: 10px;
						height: 1px;
						background: #3b3830;
						content: "";
						top: -8px;
						right: 0;
						transition: all 400ms;
					}
					&::after {
						position: absolute;
						width: 10px;
						height: 1px;
						background: #3b3830;
						content: "";
						top: 8px;
						right: 0;
						transition: all 400ms;
					}
				}
				&:hover {
					span {
						&::before {
							width: 100%;
						}
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

//* main
//*------------------------------------------------------------------------------*/

.main {
	width: calc(100% - 250px);
	min-height: 100vh;
	padding: 30px;
	box-sizing: border-box;
	float: right;
	transition: all 300ms ease;
	.main-title {
		font-size: 4.0rem;
		text-align: center;
	}
	.main-text {
		text-align: center;
		font-size: 1.6rem;
	}
	.article {
		margin-top: 40px;
		text-align: center;
	}
	.section {
		padding: 40px 0;
	}
	.section-title {
		font-size: 2.6rem;
		margin-bottom: 20px;
	}
}

@media (max-width: $InnerMaxWidth_tb) {
	.main {
		width: 100%;
	}
}


//* panel-section
//*------------------------------------------------------------------------------*/

.main {
.panel-section {
	padding-top: 0;
	.panel-card {
		columns: 3;
	}
	.panel-card-item {
		width: 100%;
		margin-bottom: 20px;
		a {
			position: relative;
			display: block;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				transition: all 300ms ease;
				background: rgba(255, 255, 255, 0.7);
			}
			&:hover {
				transform: scale(0.96);
				&::before {
					top: 10px;
					left: 10px;
					right: 10px;
					bottom: 10px;
					opacity: 1;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}

@media (max-width: $InnerMaxWidth_tb) {
	.panel-section {
		.panel-card {
			columns: 2;
		}
	}
}
@media (max-width: $InnerMaxWidth_sp) {
	.panel-section {
		.panel-card {
			columns: 1;
		}
	}
}
}


//* visual
//*------------------------------------------------------------------------------*/

.visual {
	.visual-body {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: 40%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: auto;
		}
	}
}

//* topics-section
//*------------------------------------------------------------------------------*/

.topics-section {
	.topic-header {
		justify-content: space-between;
	}
}


//* topics-section
//*------------------------------------------------------------------------------*/

.pagenation-section {
	.pagenation-body {
		justify-content: space-between;
	}
	.pagenation-prev a,
	.pagenation-next a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		line-height: 1;
		background: $black;
		color: $white;
	}
}


//* footer
//*------------------------------------------------------------------------------*/

.footer {
	position: absolute;
	bottom: 20px;
	color: $gray;
}

//* ==================================================
//	Common Modules
//================================================== */

.style--column {
	display: flex;
	flex-wrap: wrap;
}
.style--font-en {
	font-family: "Raleway", sans-serif;
}
.style--font-thin {
	font-weight: 100;
}
.style--font-light {
	font-weight: 300;
}
.style--font-medium {
	font-weight: 500;
}
.style--font-bold {
	font-weight: 700;
}
.style--font-black {
	font-weight: 900;
}
.style--text-exsmall {
	font-size: .6em;
}
.style--text-small {
	font-size: .8em;
}
.style--text-large {
	font-size: 1.2em;
}
.style--text-exlarge {
	font-size: 1.4em;
}

//* ==================================================
//	hover Effects
//================================================== */

.fade-enter-active {
	transition: all 500ms;
}
.fade-enter {
	transform: scale(1.05);
	opacity: 0;
}
.fade-enter-to {
}
.fade-leave-active {
	transition: all 500ms;
}
.fade-leave-to {
	opacity: 0;
}


//* ==================================================
//	age include
//================================================== */
@import "_pages/top";