@charset "utf-8"; /*　*/
// RESET
@import "lib/yuireset_3.18.1";
@import "util/basefix";
// PROJECT SET
@import "projectset";
// MODULE
// @import "lib/####";


//* ==================================================
//	SetBody
//================================================== */
html,body {
	width: 100%;
	height: auto;
	color: $black;
	letter-spacing: 0.08em;
	-webkit-text-size-adjust: 100%;
	line-height: 2;
}
a {
	color: $black;
	text-decoration: none;
	transition: $middle;
}
a[href^="tel"] {
	color:inherit;
	text-decoration:none;
}
main {
	display: block;
}


//* FontSet---------------------------------------- */
html {
	@include fontset_html_ja;
	body { @include fontset_body_ja;}
}
html[lang="en"] {
	@include fontset_html_en;
	body { @include fontset_body_en;}
}


//* ==================================================
//	Common Layout
//================================================== */

//* page-wrap
//*------------------------------------------------------------------------------*/

.page-wrap {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
@media (max-width: $InnerMinWidth) {
	.page-wrap {
	}
}
@media (max-width: $InnerMaxWidth_tb) {
	.page-wrap {
	}
}


//* header
//*------------------------------------------------------------------------------*/

.header {
	height: 100vh;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 500px;
	overflow-y: scroll;
	z-index: 10;
	background: $white;
	.header-body {
		padding: 30px;
	}
	.header-logo {
		font-size: 2.0rem;
	}
	.header-logo-text {
		font-size: 1.2rem;
	}
	.header-nav {
	}
	.header-nav-list {
	}
	.header-nav-item {
		& + .header-nav-item {
			margin-top: 10px;
		}
		a {
			position: relative;
			display: inline-block;
			padding: 3px 0;
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0%;
				height: 2px;
				background: $mainColor;
				transition: width 300ms ease-out;
			}
			&:hover {
				&::after {
					width: 100%;
				}
			}
		}
		.router-link-exact-active {
			&::after {
				width: 100%;
			}
		}
	}
}

//* main
//*------------------------------------------------------------------------------*/

.main {
	width: calc(100% - 250px);
	min-height: 100vh;
	padding: 30px;
	box-sizing: border-box;
	float: right;
	.main-title {
		font-size: 4.0rem;
		text-align: center;
	}
	.main-text {
		text-align: center;
		font-size: 1.6rem;
	}
	.article {
		margin-top: 40px;
		text-align: center;
	}
	.section {
		padding: 40px 0;
	}
	.section-title {
		font-size: 2.6rem;
		margin-bottom: 20px;
	}
}

//* panel-section
//*------------------------------------------------------------------------------*/

.panel-section {
	.panel-card {
		width: 100%;
		background: $gray;
		margin-bottom: 20px;
		a {
			position: relative;
			display: block;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
				transition: all 300ms ease;
				background: rgba(255, 255, 255, 0.7);
			}
			&:hover {
				&::before {
					top: 10px;
					left: 10px;
					right: 10px;
					bottom: 10px;
					opacity: 1;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}


//* footer
//*------------------------------------------------------------------------------*/

.footer {
	position: absolute;
	bottom: 20px;
	color: $gray;
}

//* ==================================================
//	Common Modules
//================================================== */

.style--column {
	display: flex;
	flex-wrap: wrap;
}
.style--font-en {
	font-family: "Raleway", sans-serif;
}
.style--font-thin {
	font-weight: 100;
}
.style--font-light {
	font-weight: 300;
}
.style--font-medium {
	font-weight: 500;
}
.style--font-bold {
	font-weight: 700;
}
.style--font-black {
	font-weight: 900;
}
.style--card-column {
	columns: 3;
}

//* ==================================================
//	hover Effects
//================================================== */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

//* ==================================================
//	age include
//================================================== */
@import "_pages/top";